{% for item in primaryMenu.items %}
    <div class="navigation__item--wrapper">
        <a href="{{ item.link }}" class="navigation__item--parent {{ item.classes|join(' ') }}">
            {{ item.title }}
        </a>
        {% if item.children %}
            <ul class="navigation__item--child__wrapper">
                {% for child in item.children %}
                    <li class="navigation__item--child">
                        <a href="{{ child.link }}" class="navigation__item--child__item {{ child.classes|join(' ') }}">
                            {{ child.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}
