<section class="container mx-auto py-12 content xl:text-white z-20 relative">
    <h2 class="about--title">{{ site.name }}</h2>

    <p class="font-light">
        {{ theme.theme_mod('address') }}
    </p>
    <p class="font-light mb-4">
        {{ theme.theme_mod('postalcode') }} {{ theme.theme_mod('city') }}
    </p>

    {% if theme.theme_mod('phonenumber') %}
    <p class="font-light">
        Tel: <a href="tel:{{ theme.theme_mod('phonenumber') }}">{{ theme.theme_mod('phonenumber') }}</a>
    </p>
    {% endif %}

    {% if theme.theme_mod('mobilenumber') %}
        <p class="font-light">
            Tel: <a href="tel:{{ theme.theme_mod('mobilenumber') }}">{{ theme.theme_mod('mobilenumber') }}</a>
        </p>
    {% endif %}

    {% if theme.theme_mod('emailaddress') %}
        <p class="my-4">
            <strong>
                <a href="mailto:{{ theme.theme_mod('emailaddress') }}">{{ theme.theme_mod('emailaddress') }}</a>
            </strong>
        </p>
    {% endif %}

    {% if theme.theme_mod('kvk') %}
        <p class="font-light">
            {{ __('KvK', 'biju')}}: {{ theme.theme_mod('kvk') }}
        </p>
    {% endif %}

    {% if theme.theme_mod('agb') %}
        <p class="font-light">
            {{ __('AGB', 'biju') }}: {{ theme.theme_mod('agb') }}
        </p>
    {% endif %}
</section>
