{% extends 'templates/layouts/app.twig' %}

{% block content %}
    {% if post.thumbnail %}
        <header class="hero-image__wrapper">
            <picture class="hero-image__pic">
                <img
                        src="{{ post.thumbnail('lazy-thumbnail') }}"
                        data-djc-lazy="{{ post.thumbnail.src }}"
                        alt="{{ post.thumbnail.alt }}"
                        title="{{ post.thumbnail.title }}">
            </picture>
        </header>
    {% endif %}

    <main id="app">
        <div class="md:w-1/2 mx-auto content my-12">
            {{ post.content|wpautop }}
        </div>
    </main>
{% endblock %}
