<a href="{{ post.link }}">
    <article class="flex flex-col text-center">
        <img
                src="{{ post.thumbnail.src('lazy-thumbnail') }}"
                data-djc-lazy="{{ post.thumbnail.src }}"
                alt="{{ post.title }}" class="image--tease__service mb-4">

        <h3 class="font-bold font-base mb-4">{{ post.title }}</h3>

        <p class="font-light font-base">{{ post.preview.length(10).read_more(false).end('') }}</p>
    </article>
</a>
